@import "../../sass/vars";

.Pagination {
  height: auto;

  display: flex;
  padding: 150px 1rem 60px 1rem;

  background: $white;

  .Container {
    border: red solid;
    width: 100%;
    max-width: 1180px;

    margin: auto;

    .Portfolios {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.8rem;
    }

    .Buttons {
      display: flex;
      justify-content: center;
      margin-top: 60px;
    }
  }
}
