@import "../../../sass/vars";

.Footer {
  height: 355px;

  position: relative;

  display: flex;
  padding: 0 20px;

  background: linear-gradient(-45deg, #1b1b1d, #1b1b1d, #453931, #453931);

  z-index: 0;

  &::before {
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-image: url("../../../assests/images/wood-background.jpg");

    z-index: 1;
    opacity: 0.1;
  }

  @media ($laptop-L) {
    height: 280px;
  }

  @media ($tablet) {
    height: 220px;
  }

  @media ($mobile-L) {
    height: auto;

    padding: 30px 20px;
  }

  .Container {
    width: 100%;
    max-width: 1200px;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;

    z-index: 2;

    @media ($laptop-L) {
      max-width: 1000px;

      justify-content: space-around;
    }

    @media ($mobile-L) {
      flex-wrap: wrap-reverse;
    }

    .ImageContainer {
      width: 284px;
      position: relative;

      align-self: flex-end;

      @media ($laptop-L) {
        width: 240px;
      }

      @media ($tablet) {
        display: none;
      }

      .Image {
        width: 100%;

        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}
