.Intro {
  height: 920px;

  display: flex;
  align-items: flex-end;

  background: linear-gradient(-45deg, #1b1b1d, #453931);

  overflow: hidden;

  .Container {
    border: red solid;
    width: 100%;
    max-width: 1175px;
    height: 560px;

    display: flex;
    margin: 0 auto;

    .Left {
      width: 50%;

      .Title {
        font-family: "Poppins", sans-serif;
      }

      .Text {
        font-family: "Lato", serif;
      }
    }

    .Right {
      width: calc(100% / 2);

      position: relative;

      .Image {
        height: 1800px;

        position: absolute;
        top: -380px;
        right: -420px;
      }
    }
  }
}
