@import "../../../sass/vars.scss";

.Intro {
  height: 920px;

  position: relative;

  display: flex;
  align-items: flex-end;

  background: linear-gradient(-45deg, #1b1b1d, #1b1b1d, #453931, #453931);

  overflow: hidden;

  &::before {
    content: "";

    width: 100%;
    height: 920px;

    position: absolute;
    top: 0;
    left: 0;

    background: url("../../../assests/images/wood-background.jpg");

    opacity: 0.1;
    z-index: 0;
  }

  .Container {
    width: 100%;
    max-width: 1175px;
    height: 560px;

    display: flex;
    margin: 0 auto;

    .Left {
      width: 50%;

      .Title {
        width: 350px;

        color: #fffbf8;

        text-align: left;
        font-size: 44px;
        font-family: "Poppins", sans-serif;
      }

      .Text {
        width: 444px;

        margin-top: 45px;

        color: $gray-light;

        text-align: left;
        line-height: 20px;
        font-size: 15px;
        font-family: "Lato", serif;
      }
    }

    .Right {
      width: calc(100% / 2);

      position: relative;

      .Image {
        height: 1800px;

        position: absolute;
        top: -380px;
        right: -420px;
      }
    }
  }
}
