@import "../../../sass/vars";
@import "../../../sass/text";
@import "../../../sass/functions";

.Intro {
  height: 920px;

  position: relative;

  display: flex;
  align-items: flex-end;
  padding: 0 20px;

  background: linear-gradient(-45deg, #1b1b1d, #1b1b1d, #453931, #453931);

  overflow: hidden;
  z-index: 1;

  &::before {
    content: "";

    width: 100%;
    height: 920px;

    position: absolute;
    top: 0;
    left: 0;

    background: url("../../../assests/images/wood-background.jpg");

    opacity: 0.1;
  }

  @media ($laptop-L) {
    height: 750px;

    &::before {
      height: 750px;
    }
  }

  @media ($tablet) {
    height: 600px;

    &::before {
      height: 600px;
    }
  }

  @media ($mobile-L) {
    height: 550px;

    padding: 0 10px;
    padding-top: 50px;
    align-items: flex-start;

    &::before {
      height: 550px;
    }
  }

  @media ($mobile-M-h) and ($mobile-M-land) {
    height: 520px;

    &::before {
      height: 520px;
    }
  }

  @media ($mobile-M-h) and ($mobile-M-land-X) {
    height: 550px;

    &::before {
      height: 550px;
    }
  }

  @media ($mobile-S-h) and ($mobile-S-land) {
    height: 500px;

    &::before {
      height: 500px;
    }
  }

  .Container {
    width: 100%;
    max-width: 1175px;
    height: 560px;

    display: flex;
    margin: 0 auto;

    z-index: 3;

    @media ($mobile-L) {
      flex-direction: column;
    }

    .Left {
      width: 40%;

      @media ($laptop-L) {
        padding-top: 100px;
      }

      @media ($tablet) {
        padding-top: 150px;
      }

      @media ($mobile-L) {
        width: 90%;

        padding-top: 80px;
        margin: 0 auto;

        text-align: center;
      }

      @media ($mobile-M-h) and ($mobile-M-land) {
        padding-top: 200px;
      }

      @media ($mobile-M-h) and ($mobile-M-land-X) {
        padding-top: 200px;
      }

      .Title {
        width: 350px;

        color: #fffbf8;

        text-align: left;
        font-size: calcFluidFontSize(25, 44);
        font-family: "Poppins", sans-serif;

        @media ($laptop-L) {
          width: 300px;
        }

        @media ($tablet) {
          width: 250px;
        }

        @media ($mobile-L) {
          width: 100%;

          text-align: center;
        }
      }

      .Text {
        width: 444px;

        margin-top: 45px;

        @extend %text;

        @media ($tablet) {
          width: 300px;
        }

        @media ($mobile-L) {
          width: 100%;

          margin-top: 15px;

          text-align: center;
          line-height: 20px;
        }

        @media ($mobile-M-h) and ($mobile-M-land-X) {
          width: 344px;
        }

        @media ($mobile-M-h) and ($mobile-M-land) {
          width: 304px;
        }
      }

      .ButtonContainer {
        margin-top: 45px;

        float: left;

        @media ($mobile-L) {
          width: 100%;

          margin-top: 20px;

          text-align: center;
        }
      }
    }

    .Right {
      width: 60%;

      position: relative;

      .Image {
        height: 1800px;

        position: absolute;
        top: -380px;
        right: -420px;

        z-index: -1;

        @media ($laptop-L) {
          height: 1400px;

          top: -180px;
          right: -190px;
        }

        @media ($laptop) {
          height: 1200px;

          top: -80px;
          right: -140px;
        }

        @media ($tablet) {
          height: 1000px;

          top: 20px;
          right: -150px;
        }

        @media ($mobile-L) {
          height: 600px;

          top: -40px;
          right: -200px;
        }

        @media ($mobile-M-h) and ($mobile-M-land) {
          height: 850px;

          top: 120px;
          right: -160px;
        }

        @media ($mobile-M-h) and ($mobile-M-land-X) {
          height: 950px;

          top: 80px;
          right: -160px;
        }

        @media ($mobile-S-h) and ($mobile-S-land) {
          height: 750px;

          top: 160px;
          right: -140px;
        }
      }
    }
  }
}
