@import "../../sass/vars";
@import "../../sass/functions";

.Portfolio {
  width: 270px;
  height: 445px;

  border-radius: 10px;

  background: #fafafa;

  transition: box-shadow 0.2s linear;

  .Content {
    padding: 30px 0;

    .Title {
      margin-bottom: 20px;

      color: $gray;

      font-size: calcFluidFontSize(17, 20);
    }
  }

  &:hover {
    box-shadow: 1px 1px 30px 5px rgba(black, 0.1);
  }
}

.Shadow {
  box-shadow: 1px 1px 30px 5px rgba(black, 0.1);

  &:hover {
    box-shadow: 2px 2px 40px 10px rgba(black, 0.3);
  }
}
