@import "../../sass/title";
@import "../../sass/vars";
@import "../../sass/functions";

.FooterContent {
  width: 310px;

  text-align: left;

  @media ($tablet) {
    width: 200px;
  }

  .Title {
    margin-bottom: 35px;

    color: $white;

    @extend %title;

    @media ($tablet) {
      margin-bottom: 25px;

      font-size: 22px;
    }
  }

  .Item {
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0px;
    }

    @media ($tablet) {
      height: 20px;

      margin-bottom: 20px;
    }

    .Icon {
      margin: auto;

      @media ($laptop-L) {
        width: 25px;
      }

      @media ($tablet) {
        width: 20px;
      }
    }

    .Text {
      margin-left: 10px;

      color: $orange-light;

      font-size: 15px;

      @media ($laptop-L) {
        font-size: calcFluidFontSize(11, 13);
      }
    }
  }
}
