@import "../../../sass/vars";

.Header {
  width: 100%;
  height: 100px;

  position: absolute;
  top: 50px;
  left: 0;

  padding: 0 20px;

  box-sizing: border-box;
  z-index: 3;

  @media ($tablet) {
    top: 10px;
  }

  @media ($mobile-L) {
    top: 0;
  }

  @media ($mobile-M-h) and ($mobile-M-land-X) {
    top: 10px;
  }

  .Container {
    width: 100%;
    max-width: 1175px;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    box-sizing: border-box;

    .Navigation {
      @media ($mobile-L) {
        display: none;
      }

      @media ($mobile-L-h) and ($mobile-L-land) {
        display: none;
      }

      @media ($mobile-M-h) and ($mobile-M-land-X) {
        display: none;
      }
    }

    .BurgerButton {
      width: 45px;
      height: 45px;

      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 15px 15px;
      border-radius: 50%;

      transition: all 0.3s linear;

      @media ($mobile-L) {
        display: flex;
      }

      @media ($mobile-L-h) and ($mobile-L-land) {
        display: flex;
      }

      @media ($mobile-M-h) and ($mobile-M-land-X) {
        display: flex;
      }

      &:hover {
        background: rgba($white, 0.2);

        .Line {
          background: rgba($black, 1);
        }
      }

      .Line {
        width: 100%;
        height: 3px;

        margin-bottom: 10px;

        background: $white;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
