@import "../../../sass/vars";
@import "../../../sass/functions";

.Button {
  padding: 0.8em 2.7em;
  outline: none;
  border: 1px solid $orange-light;
  border-radius: 35px;

  color: $black;
  background: $orange-light;

  font-size: 17px;
  font-family: "Poppins", sans-serif;

  transition: all 0.2s linear;
  cursor: pointer;

  &:hover {
    background: none;
    color: $orange-light;
  }

  @media ($laptop-L) {
    font-size: 14px;
  }
}

.Main {
  border: 2px solid $orange-light;

  background: none;

  &:hover {
    color: $black;
    background: $orange-light;
  }
}

.SliderButton {
  width: 50px;
  height: 50px;

  border: 2px solid $orange-light;
  border-radius: 50%;
  outline: none;

  background: none;

  transition: all 0.2s linear;

  &:hover {
    color: $black;
    background-color: $orange-light;
  }
}

.Previous {
  background: url("../../../assests/icons/left-arrow.svg") no-repeat center;
  background-size: 20px 20px;
}

.Next {
  background: url("../../../assests/icons/next.svg") no-repeat center;
  background-size: 20px 20px;
}
