@import "../../../sass/vars";
@import "../../../sass/functions";

.Button {
  padding: 0.8em 2.7em;
  outline: none;
  border: 1px solid $orange-light;
  border-radius: 35px;

  color: $black;
  background: $orange-light;

  font-size: calcFluidFontSize(12, 17);
  font-family: "Poppins", sans-serif;

  transition: all 0.2s linear;
  cursor: pointer;

  &:hover {
    background: none;
    color: $orange-light;
  }
}

.Main {
  border: 2px solid $orange-light;

  background: none;

  &:hover {
    color: $black;
    background: $orange-light;
  }
}
