@import "../../../sass/text";
@import "../../../sass/vars";
@import "../../../sass/title";

.About {
  height: 580px;

  display: flex;
  padding: 0 20px;

  @media ($mobile-L) {
    height: 700px;

    padding: 30px 20px;
  }

  @media ($mobile-S) {
    height: 600px;
  }

  .Container {
    width: 100%;
    max-width: 830px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;

    @media ($mobile-L) {
      height: 100%;

      flex-direction: column-reverse;
    }

    .ImageContainer {
      @media ($mobile-L) {
        width: 100%;
      }

      .Image {
        @media ($mobile-L) {
          width: 80%;
        }
      }
    }

    .Content {
      width: 50%;

      text-align: left;

      @media ($mobile-L) {
        width: 100%;

        text-align: center;
      }

      .Title {
        width: 300px;

        margin-bottom: 35px;

        @extend %title;

        @media ($mobile-L) {
          width: 100%;
        }
      }

      .Text {
        color: $gray;

        @extend %text;

        @media ($mobile-L) {
          text-align: center;
        }
      }
    }
  }
}
