@import "../../../sass/title";
@import "../../../sass/text";
@import "../../../sass/vars";
@import "../../../sass/functions";

.PetModal {
  width: 970px;
  height: 470px;

  display: flex;

  text-align: left;

  @media screen and ($laptop-L) {
    width: 870px;
    height: 400px;
  }

  @media screen and ($tablet) {
    width: 500px;
    height: 300px;
  }

  .Left {
    width: 48.45%;

    border-radius: 15px 0 0 15px;

    background-color: rgba(#000000, 0.5);

    overflow: hidden;

    .Image {
      border: red solid;
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  .Right {
    width: 51.55%;

    padding: 60px;

    box-sizing: border-box;

    @media screen and ($laptop-L) {
      padding: 40px;
    }

    @media screen and ($tablet) {
      padding: 20px;
    }

    .Title {
      @extend %title;
    }

    .SubTitle {
      color: $gray;

      font-size: 17px;

      @media screen and ($laptop-L) {
        font-size: calcFluidFontSize(13, 15);
      }
    }

    .Text {
      margin-top: 30px;

      color: $gray;

      @extend %text;

      @media screen and ($laptop-L) {
        margin-top: 17px;
      }
    }

    .Сharacteristic {
      margin-top: 25px;

      color: $gray;

      .Item {
        font-size: 15px;

        list-style-position: inside;
        list-style: none;

        &::before {
          content: "\2022";

          display: inline-block;
          margin-right: 7px;

          color: $orange-light;

          font-size: 1.2em;
        }

        @media screen and ($laptop-L) {
          font-size: 13px;
        }
      }

      .Key {
        display: inline-block;
        margin-right: 5px;

        font-size: 17px;
        font-weight: bold;

        &:first-letter {
          text-transform: uppercase;
        }

        @media screen and ($laptop-L) {
          font-size: 14px;
        }
      }
    }
  }
}
