@import "../../sass/vars";
@import "../../sass/title";

.Pagination {
  border: red solid;
  height: auto;

  display: flex;
  padding: 150px 1rem 60px 1rem;

  background: $white;

  .Container {
    border: green solid;
    width: 100%;
    max-width: 1180px;

    margin: auto;

    .TextContainer {
      display: flex;
      justify-content: center;
      margin-bottom: 60px;

      .Title {
        width: 450px;

        @extend %title;
      }
    }

    .Portfolios {
      border: red solid;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .Buttons {
      display: flex;
      justify-content: center;
      margin-top: 60px;
    }
  }
}
